<div id="basic-information">
    <div class="d-flex justify-content-between">
      <h3 class="form-heading">Basic Information</h3>
      <button class="btn btn-default gray-7 border">
        Skip this step
      </button>
    </div>
    <form>
      <div class="row g-3">
        <div class="col-md-4">
          <div class="form-group">
            <input class="form-control" id="company" required />
            <label for="usr" id="rd">Company</label>
          </div>
        </div>
      </div>
      <br />
      <div class="row g-3">
        <div class="col-md-4">
          <div class="form-group m-0">
            <input
              type="text"
              class="form-control"
              id="name"
              required
            />
            <label for="usr" id="rd">Legal Name</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="prefferd-name"
              required
            />
            <label for="usr" id="rd">Prefferd name</label>
          </div>
        </div>
      </div>
      <br />
      <div class="row g-3">
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="tel"
              class="form-control"
              id="phone"
              required
            />
            <label for="usr" id="rd">Mobile Number </label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="tel"
              class="form-control"
              id="home-phone"
              required
            />
            <label for="usr">Home Phone</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="email"
              required
            />
            <label for="usr">Email Address</label>
          </div>
        </div>
      </div>
      <br />
      <div class="ml-1">
        <h6 class="gray-7">Homeowner or Renter?</h6>
        <br />
        <div class="row ml-1">
          <div class="col-md-6 d-flex">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gridRadios"
                id="gridRadios1"
                value="option1"
                checked
              />
              <label
                class="form-check-label gray-7"
                for="gridRadios1"
              >
                Homeowner
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gridRadios"
                id="gridRadios2"
                value="option2"
              />
              <label
                class="form-check-label gray-7"
                for="gridRadios2"
              >
                Renter
              </label>
            </div>
          </div>
        </div>
      </div>
    <h4 class="form-heading"> Departure Address</h4>
      <br />
      <br /><br />
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">Departure Address line 1</label>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">Departure Address line 2</label>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">Departure Address line 3</label>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="location"
              required
            />
            <label for="usr">Old City</label>
          </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="location"
                required
              />
              <label for="usr">Old Zip</label>
            </div>
          </div>

        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="mileage"
              required
            />
            <label for="usr">Old State</label>
          </div>
        </div>
      </div>
      <br />
      <div class="row g-3">
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="location"
              required
            />
            <label for="usr">Old Countery</label>
          </div>
        </div>
      
      </div>
      <br/>

<h4 class="form-heading"> New Address</h4>
      <br />
      <br /><br />
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">New Address line 1</label>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">New Address line 2</label>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">New Address line 3</label>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="location"
              required
            />
            <label for="usr">New City</label>
          </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="location"
                required
              />
              <label for="usr">New Zip</label>
            </div>
          </div>

        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="mileage"
              required
            />
            <label for="usr">New State</label>
          </div>
        </div>
      </div>
      <br />
      <div class="row g-3">
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="location"
              required
            />
            <label for="usr">New Countery</label>
          </div>
        </div>
      </div>
      <br>
      <div class="row g-3">
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="mileage"
              required
            />
            <label for="usr">Start Date</label>
          </div>
        </div>
        <div class="col-md-6 d-flex">
          <div class="form-check form-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gridRadios"
              id="gridRadios3"
              value="option3"
              checked
            />
            <label
              class="form-check-label gray-7"
              for="gridRadios3"
            >
              New Hire
            </label>
          </div>
          <div class="form-check form-inline">
            <input
              class="form-check-input"
              type="radio"
              name="gridRadios"
              id="gridRadios4"
              value="option4"
            />
            <label
              class="form-check-label gray-7"
              for="gridRadios4"
            >
              Internal Transfer
            </label>
          </div>
        </div>
      </div>
      <div class="ml-1">
        <h6 class="gray-7">Have you relocated before?</h6>
        <br />
        <div class="row ml-1">
          <div class="col-md-6 d-flex">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gridRadios"
                id="gridRadios1"
                value="option1"
                checked
              />
              <label
                class="form-check-label gray-7"
                for="gridRadios1"
              >
                Yes
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="gridRadios"
                id="gridRadios2"
                value="option2"
              />
              <label
                class="form-check-label gray-7"
                for="gridRadios2"
              >
                No
              </label>
            </div>
          </div>
        </div>
      </div> 
      <br>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">Any issues with your previous relocation?</label>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">What went well with your previous relocation?</label>
          </div>
        </div>
      </div>
      <div class="row g-3">
        <div class="col-md-3">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">S.O. First name</label>
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="address"
                required
              />
              <label for="usr">S.O. Last name</label>
            </div>
          </div>
      </div>
      <div class="row g-3">
        <div class="col-md-3">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">S.O. Cell</label>
          </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="address"
                required
              />
              <label for="usr">S.O. Email</label>
            </div>
          </div>
      </div>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">Who’s relocating other than Family?</label>
          </div>
        </div>
      </div>
    </form>  
  </div>