.progress {
    overflow: visible;
    height: 10px;
    width: 5.5rem !important;
    background-color: #e9ecef;
    .progress-bar {
      position: relative;
      border-radius: 4px;
      overflow: visible;
      white-space: nowrap;
      background-color: #6ae18f;
      transition: width .6s ease;
      span {
     color :#7D9EB5;
        position: absolute;
        bottom: -20px;
        font-size: 10px;
        line-height: 10px;
        padding: 2px 3px 2px 4px;
        border-radius: 2px;
      }
  
    }
  }