<div class="container-fluid p-0">
  <div class="row p-2">
    <div class="col-md-5">
      <div class="p-3">
        <div class="d-flex align-items-center">
          <div class="image">
            <img src="/assets/img/robby-pp.png" class="rounded" width="80" />
          </div>
          <div class="ml-3 w-100">
            <h5 class="mb-0 mt-0 user-title">Robby Rash</h5>
            <div class="">
              <div class="mt-2 d-flex justify-content-between rounded stats">
                <div class="d-flex flex-column">
                  <span class="user-info company"
                    ><img src="assets/icons/building.svg" /> &nbsp;Intuit
                    inc.</span
                  >
                </div>
                <div class="d-flex flex-column">
                  <span class="user-info followers"
                    >New jersy &nbsp;<img src="assets/icons/arrow-up.svg"
                  /></span>
                </div>
                <div class="d-flex flex-column">
                  <span class="user-info location">New York</span>
                </div>
              </div>
              <div class="mt-2 d-flex">
                <div class="d-flex flex-column policy text-muted">
                  <span class="articles">Relocation Policy</span>
                </div>
                <div class="d-flex flex-column policy text-muted">
                  <span class="followers">Billing policy</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="p-3">
        <div class="d-flex align-items-center">
          <div class="ml-3 w-100">
            <div class="d-flex justify-content-between rounded stats">
              <div class="d-flex flex-column">
                <span class="domestic">DOMESTIC</span>
              </div>
              <div class="dropdown">
                <span
                  class="dropdown-toggle active"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  ACTIVE
                </span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item gray-7" href="#">Sort By</a>
                  <a class="dropdown-item gray-7" href="#">Active</a>
                  <a class="dropdown-item gray-7" href="#">On Hold</a>
                  <a class="dropdown-item" href="#">On Assignment</a>
                  <a class="dropdown-item" href="#">Inactive</a>
                  <a class="dropdown-item" href="#">Completed</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">3</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="bs-example">
        <ul class="nav nav-tabs bottom">
          <li class="nav-item">
            <a href="#services" class="nav-link active" data-toggle="tab"
              >SERVICES</a
            >
          </li>
          <li class="nav-item">
            <a href="#personal-info" class="nav-link" data-toggle="tab"
              >PERSONAL INFO</a
            >
          </li>
          <li class="nav-item">
            <a href="#addresses" class="nav-link" data-toggle="tab"
              >ADDRESSES</a
            >
          </li>
          <li class="nav-item">
            <a href="#financials" class="nav-link" data-toggle="tab"
              >FINANCIALS</a
            >
          </li>
          <li class="nav-item">
            <a href="#document" class="nav-link" data-toggle="tab">DOCUMENTS</a>
          </li>
          <li class="nav-item">
            <a href="#comments" class="nav-link" data-toggle="tab">COMMENTS</a>
          </li>
        </ul>
        <div class="tab-content">
          <!-- services -->
          <div class="tab-pane fade show active" id="services">
            <h4 class="mt-2">Services</h4>
          </div>
          <!-- personal Info -->
          <div class="tab-pane fade" id="personal-info">
            <div class="row">
              <div class="col-md-9 p-0 border-right">
                  <div id="stepper-form">
                  <!-- <div id="basic-information">
                  <div class="d-flex justify-content-between">
                    <h3 class="form-heading">Basic Information</h3>
                    <button class="btn btn-default gray-7 border">
                      Skip this step
                    </button>
                  </div>
                  <form>
                    <div class="row g-3">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input class="form-control" id="company" required />
                          <label for="usr" id="rd">Company</label>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row g-3">
                      <div class="col-md-4">
                        <div class="form-group m-0">
                          <input
                            type="text"
                            class="form-control"
                            id="name"
                            required
                          />
                          <label for="usr" id="rd">Legal Name</label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="prefferd-name"
                            required
                          />
                          <label for="usr" id="rd">Prefferd name</label>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row g-3">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="tel"
                            class="form-control"
                            id="phone"
                            required
                          />
                          <label for="usr" id="rd">Mobile Number </label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="tel"
                            class="form-control"
                            id="home-phone"
                            required
                          />
                          <label for="usr">Home Phone</label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="email"
                            class="form-control"
                            id="email"
                            required
                          />
                          <label for="usr">Email Address</label>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="ml-1">
                      <h6 class="gray-7">Homeowner or Renter?</h6>
                      <br />
                      <div class="row ml-1">
                        <div class="col-md-6 d-flex">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="gridRadios"
                              id="gridRadios1"
                              value="option1"
                              checked
                            />
                            <label
                              class="form-check-label gray-7"
                              for="gridRadios1"
                            >
                              Homeowner
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="gridRadios"
                              id="gridRadios2"
                              value="option2"
                            />
                            <label
                              class="form-check-label gray-7"
                              for="gridRadios2"
                            >
                              Renter
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <h4 class="form-heading">Departure Address</h4>
                    <br />
                    <br /><br />
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr">Departure Address line 1</label>
                        </div>
                      </div>
                    </div>
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr">Departure Address line 2</label>
                        </div>
                      </div>
                    </div>
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr">Departure Address line 3</label>
                        </div>
                      </div>
                    </div>
                    <div class="row g-3">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="location"
                            required
                          />
                          <label for="usr">Old City</label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="location"
                            required
                          />
                          <label for="usr">Old Zip</label>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="mileage"
                            required
                          />
                          <label for="usr">Old State</label>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row g-3">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="location"
                            required
                          />
                          <label for="usr">Old Countery</label>
                        </div>
                      </div>
                    </div>
                    <br />

                    <h4 class="form-heading">New Address</h4>
                    <br />
                    <br /><br />
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr">New Address line 1</label>
                        </div>
                      </div>
                    </div>
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr">New Address line 2</label>
                        </div>
                      </div>
                    </div>
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr">New Address line 3</label>
                        </div>
                      </div>
                    </div>
                    <div class="row g-3">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="location"
                            required
                          />
                          <label for="usr">New City</label>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="location"
                            required
                          />
                          <label for="usr">New Zip</label>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="mileage"
                            required
                          />
                          <label for="usr">New State</label>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row g-3">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="location"
                            required
                          />
                          <label for="usr">New Countery</label>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row g-3">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="mileage"
                            required
                          />
                          <label for="usr">Start Date</label>
                        </div>
                      </div>
                      <div class="col-md-6 d-flex">
                        <div class="form-check form-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="gridRadios"
                            id="gridRadios3"
                            value="option3"
                            checked
                          />
                          <label
                            class="form-check-label gray-7"
                            for="gridRadios3"
                          >
                            New Hire
                          </label>
                        </div>
                        <div class="form-check form-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="gridRadios"
                            id="gridRadios4"
                            value="option4"
                          />
                          <label
                            class="form-check-label gray-7"
                            for="gridRadios4"
                          >
                            Internal Transfer
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="ml-1">
                      <h6 class="gray-7">Have you relocated before?</h6>
                      <br />
                      <div class="row ml-1">
                        <div class="col-md-6 d-flex">
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="gridRadios"
                              id="gridRadios1"
                              value="option1"
                              checked
                            />
                            <label
                              class="form-check-label gray-7"
                              for="gridRadios1"
                            >
                              Yes
                            </label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="radio"
                              name="gridRadios"
                              id="gridRadios2"
                              value="option2"
                            />
                            <label
                              class="form-check-label gray-7"
                              for="gridRadios2"
                            >
                              No
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr"
                            >Any issues with your previous relocation?</label
                          >
                        </div>
                      </div>
                    </div>
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr"
                            >What went well with your previous
                            relocation?</label
                          >
                        </div>
                      </div>
                    </div>
                    <div class="row g-3">
                      <div class="col-md-3">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr">S.O. First name</label>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr">S.O. Last name</label>
                        </div>
                      </div>
                    </div>
                    <div class="row g-3">
                      <div class="col-md-3">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr">S.O. Cell</label>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr">S.O. Email</label>
                        </div>
                      </div>
                    </div>
                    <div class="row g-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="address"
                            required
                          />
                          <label for="usr"
                            >Who’s relocating other than Family?</label
                          >
                        </div>
                      </div>
                    </div>
                  </form>
                </div> -->    
                <!-- <div id="family">
                        <div class="d-flex justify-content-between">
                            <h3 class="form-heading">Family members</h3>
                            <button class="btn btn-default gray-7 border">
                              Skip this step
                            </button>
                          </div>
                          <form>
                            <div class="row g-3">
                              <div class="col-md-6">
                                <div class="form-group">
                                  <input class="form-control" id="company" required />
                                  <label for="usr" id="rd">How many family members relocating?</label>
                                </div>
                              </div>
                            </div>
                            <h4 class="form-heading">Member 1</h4>
                            <br />
                            <br />
                            <div class="row g-3">
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="address"
                                    required
                                  />
                                  <label for="usr">First Name</label>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="address"
                                    required
                                  />
                                  <label for="usr">Middle Name</label>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <input
                                    type="text"
                                    class="form-control"
                                    id="address"
                                    required
                                  />
                                  <label for="usr">Last Name</label>
                                </div>
                              </div>
                            </div>
                            <div class="row g-3">
                                <div class="col-md-4 p-2">
                                    <div class="ml-1">
                                        <h6 class="gray-7">Gender</h6>
                                        <br />
                                        <div class="row ml-1">
                                          <div class="col-md-6 d-flex">
                                            <div class="form-check">
                                              <input
                                                class="form-check-input"
                                                type="radio"
                                                name="gridRadios"
                                                id="gridRadios1"
                                                value="option1"
                                                checked
                                              />
                                              <label
                                                class="form-check-label gray-7"
                                                for="gridRadios1"
                                              >
                                                Male
                                              </label>
                                            </div>
                                            <div class="form-check">
                                              <input
                                                class="form-check-input"
                                                type="radio"
                                                name="gridRadios"
                                                id="gridRadios2"
                                                value="option2"
                                              />
                                              <label
                                                class="form-check-label gray-7"
                                                for="gridRadios2"
                                              >
                                                Female
                                              </label>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                              
                                  </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="address"
                                      required
                                    />
                                    <label for="usr">Age</label>
                                  </div>
                                </div>
                            
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="address"
                                      required
                                    />
                                    <label for="usr">Relationship</label>
                                  </div>
                                </div>
                              </div>

                          </form>

                        </div> -->
                <!-- <div id="travel">
                    <div class="d-flex justify-content-between">
                        <h3 class="form-heading">travel</h3>
                        <button class="btn btn-default gray-7 border">
                          Skip this step
                        </button>
                      </div>
                      <form>
                                <h6 class="gray-7">Have you ever travelled internationally before?</h6>
                                <br />
                                <div class="row ">
                                  <div class="col-md-6 d-flex">
                                    <div class="form-check">
                                      <input
                                        class="form-check-input"
                                        type="radio"
                                        name="gridRadios"
                                        id="gridRadios1"
                                        value="option1"
                                        checked
                                      />
                                      <label
                                        class="form-check-label gray-7"
                                        for="gridRadios1"
                                      >
                                        yes
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input
                                        class="form-check-input"
                                        type="radio"
                                        name="gridRadios"
                                        id="gridRadios2"
                                        value="option2"
                                      />
                                      <label
                                        class="form-check-label gray-7"
                                        for="gridRadios2"
                                      >
                                        No
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <br>
                                <h6 class="gray-7">Have you been to the new location before?</h6>
                                <br />
                                <div class="row ">
                                  <div class="col-md-6 d-flex">
                                    <div class="form-check">
                                      <input
                                        class="form-check-input"
                                        type="radio"
                                        name="gridRadios"
                                        id="gridRadios1"
                                        value="option1"
                                        checked
                                      />
                                      <label
                                        class="form-check-label gray-7"
                                        for="gridRadios1"
                                      >
                                        yes
                                      </label>
                                    </div>
                                    <div class="form-check">
                                      <input
                                        class="form-check-input"
                                        type="radio"
                                        name="gridRadios"
                                        id="gridRadios2"
                                        value="option2"
                                      />
                                      <label
                                        class="form-check-label gray-7"
                                        for="gridRadios2"
                                      >
                                        No
                                      </label>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                      <div class="form-group">
                                        <input
                                          type="date"
                                          class="form-control"
                                          id="home-phone"
                                          required
                                        />
                                        <label for="usr">Anticipated Final Move Date</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-6 d-flex mt-3 ">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                              name="gridRadios"
                                              id="gridRadios1"
                                              value="option1"
                                              checked
                                            />
                                            <label
                                              class="form-check-label gray-7"
                                              for="gridRadios1"
                                            >
                                              Driving
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input
                                              class="form-check-input"
                                              type="radio"
                                              name="gridRadios"
                                              id="gridRadios1"
                                              value="option1"
                                              checked
                                            />
                                            <label
                                              class="form-check-label gray-7"
                                              for="gridRadios1"
                                            >
                                              Flying
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input
                                              class="form-check-input"
                                              type="radio"
                                              name="gridRadios"
                                              id="gridRadios1"
                                              value="option1"
                                              checked
                                            />
                                            <label
                                              class="form-check-label gray-7"
                                              for="gridRadios1"
                                            >
                                              Both
                                            </label>
                                          </div>
                                    </div>
                                  </div>
                                  <div class="row g-3">
                                    <div class="col-md-3">
                                      <div class="form-group ">
                                        <select class="form-control" id="airline" required>
                                            <option value="" selected></option>
                                            <option value="Spaces">Airline 1</option>
                                            <option value="Tabs">Airline 2</option>
                                        </select>
                                        <label for="airline" class="form-label">Preferred Airline</label>
                                    </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                          <input
                                            type="tel"
                                            class="form-control"
                                            id="phone"
                                            placeholder="Preferred Airport / Route"
                                            readonly
                                          />
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <input
                                              type="text"
                                              class="form-control"
                                              id="phone"
                                              required
                                            />
                                            <label for="usr" id="rd">Airline</label>
                                          </div>
                                        </div>
                                        </div>
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                              <div class="form-group">
                                                <input
                                                  type="tel"
                                                  class="form-control"
                                                  id="phone"
                                                  required
                                                />
                                                <label for="usr" id="rd">Additional Info</label>
                                              </div>
                                            </div>
                                            </div>
                      </form>
                </div> -->
                        <!-- <div id="pets">
                            <div class="d-flex justify-content-between">
                                <h3 class="form-heading">Pets</h3>
                                <button class="btn btn-default gray-7 border">
                                  Skip this step
                                </button>
                              </div>
                              <form>
                                  
                                <div class="row g-3">
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <input class="form-control" id="company" required />
                                      <label for="usr" id="rd">How many pets relocating?</label>
                                    </div>
                                  </div>
                                </div>
                            
                               
                                    
                                            <h6 class="gray-7">Would you like a professional pet transport quote / referral?</h6>
                                            <br />
                                            <div class="row ml-1">
                                              <div class="col-md-6 d-flex">
                                                <div class="form-check">
                                                  <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="gridRadios"
                                                    id="gridRadios1"
                                                    value="option1"
                                                    checked
                                                  />
                                                  <label
                                                    class="form-check-label gray-7"
                                                    for="gridRadios1"
                                                  >
                                                    Yes
                                                  </label>
                                                </div>
                                                <div class="form-check">
                                                  <input
                                                    class="form-check-input"
                                                    type="radio"
                                                    name="gridRadios"
                                                    id="gridRadios2"
                                                    value="option2"
                                                  />
                                                  <label
                                                    class="form-check-label gray-7"
                                                    for="gridRadios2"
                                                  >
                                                    No
                                                  </label>
                                                </div>
                                              
                                          </div>
                                      </div>
                            
                                <h4 class="form-heading">pet 1</h4>
                                <br />
                                <br />
                                <div class="row g-3">
                                  <div class="col-md-4">
                                    <div class="form-group ">
                                        <select class="form-control" id="airline" required>
                                            <option value="" selected></option>
                                            <option value="Spaces">Airline 1</option>
                                            <option value="Tabs">Airline 2</option>
                                        </select>
                                        <label for="airline" class="form-label">Type</label>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="address"
                                        required
                                      />
                                      <label for="usr">Weight</label>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <input
                                        type="text"
                                        class="form-control"
                                        id="address"
                                        required
                                      />
                                      <label for="usr">Pet Name</label>
                                    </div>
                                  </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input
                                              type="text"
                                              class="form-control"
                                              id="address"
                                              required
                                            />
                                            <label for="usr">Gender</label>
                                          </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <input
                                          type="text"
                                          class="form-control"
                                          id="address"
                                          required
                                        />
                                        <label for="usr">Age</label>
                                      </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="form-group">
                                        <input
                                          type="text"
                                          class="form-control"
                                          id="address"
                                          required
                                        />
                                        <label for="usr">Breed</label>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row g-3">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input
                                              type="text"
                                              class="form-control"
                                              id="address"
                                              required
                                            />
                                            <label for="usr">Vaccines</label>
                                          </div>
                                    </div>

                                    
                                    <div class="col-md-4">
                                        <h6 class="gray-7">Kennel?</h6>
                                        <div class="d-flex">
                                        <div class="form-check">
                                            <input
                                              class="form-check-input"
                                              type="radio"
                                              name="gridRadios"
                                              id="gridRadios1"
                                              value="option1"
                                              checked
                                            />
                                            <label
                                              class="form-check-label gray-7"
                                              for="gridRadios1"
                                            >
                                              Yes
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            
                                            <input
                                              class="form-check-input"
                                              type="radio"
                                              name="gridRadios"
                                              id="gridRadios2"
                                              value="option2"
                                            />
                                            <label
                                              class="form-check-label gray-7"
                                              for="gridRadios2"
                                            >
                                              No
                                            </label>
                                          </div>
                                        </div>
                                    </div>
                                
                                  </div>
                                  <div class="row g-3">
                                    <div class="col-md-8">
                                     
                                            <div class="form-group txtarea">
                                                <textarea maxlength="255" id="cancellationNotes"name="cancellationNotes"></textarea>
                                                <label>Vaccines</label>
                                              </div>
                                          
                                    </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-md-8">
                                         
                                                <div class="form-group txtarea">
                                                    <textarea maxlength="255" id="cancellationNotes"name="cancellationNotes"></textarea>
                                                    <label>Notes</label>
                                                  </div>
                                              
                                        </div>
                                        </div>
                              </form>
                        </div> -->
                    </div>
                
              
                <div class="info-footer h-20">
                  <div class="p-3">
                    <div class="d-flex align-items-center">
                      <div class="ml-3 w-100">
                        <div class="mt-2 d-flex justify-content-between">
                          <div class="d-flex flex-column text-muted">
                            <span class="articles">step 1 to 9</span>
                          </div>
                          <div class="d-flex">
                            <button
                              type="button"
                              class="btn btn-default cancel-btn"
                            >
                              cancel
                            </button>
                            &nbsp;&nbsp;
                            <button
                              type="button"
                              class="btn btn-primary blue-btn"
                            >
                              Continiue
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- address -->
          <div class="tab-pane fade" id="addresses">
            <h4 class="mt-2">addresses</h4>
          </div>
          <!-- financials -->
          <div class="tab-pane fade" id="financials">
            <h4 class="mt-2">financials</h4>
            <!-- documensts -->
          </div>
          <div class="tab-pane fade" id="document">
            <h4 class="mt-2">documents</h4>
            <!-- comments -->
          </div>
          <div class="tab-pane fade" id="comments">
            <h4 class="mt-2">comments</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
