<div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
      <li class="sidebar-header d-flex justify-content-between">
         <a href="#"><img style="max-width:100px; margin-top: -7px;"src="assets/img/sidenav-logo.png"></a>
             <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-bars fa-stack-1x "></i></span></a>
      </li>
      <li>
         <a href="#" class="p-2"> SETUP</a>
      </li>
       <li class="active">
          <a href="#" class="p-2"><span class="fa-stack fa-lg pull-left "><img src="assets/icons/dashboard-icon.svg"></span> Dashboard</a>
       </li>
       <li>
          <a href="#" class="p-2"><span class="fa-stack fa-lg pull-left"><img src="assets/icons/user.svg"></span>Employee</a>
          
       </li>
       <li>
          <a href="#" class="p-2"><span class="fa-stack fa-lg pull-left"><img src="assets/icons/task-icon.svg"></span>Task</a>
       </li>
       <li>
          <a href="#" class="p-2"> <span class="fa-stack fa-lg pull-left"><img src="assets/icons/company-icon.svg"></span>Companies</a>
       </li>
       <li>
          <a href="#" class="p-2"><span class="fa-stack fa-lg pull-left"><img src="assets/icons/calendar.svg"></span>Calenders</a>
       </li>
       <li>
          <a href="#" class="p-2"><span class="fa-stack fa-lg pull-left"><img src="assets/icons/clipboard.svg"></span>Reports</a>
       </li>
    </ul>
 </div>