
<div class="container-fluid" style="background-color: #F8F9FA;">
    <div id="login-bg" >
    <div class="mask d-flex align-items-center h-100" >
    <div class="container">
    <div class="row justify-content-center">
    <div class="col-xl-5 col-md-8">
    <div class="text-center mb-4"><img src="assets/img/logo.png"> </div>
    <h4 class=" blue-text login-text pb-4">Login to your account</h4>
    <form class="bg-white rounded-5 shadow-5-strong p-5">
    <div class="form-group mb-4">
        <Input1 type="text" placeholder="Username"></Input1>
    </div>

    <div class="form-group mb-4">
    <Input1 type="password" placeholder="Password"></Input1>
    </div>
    <div class="row mb-4">
    <div class="col d-flex justify-content-left b">
    <a class="blue-text" href="#!">Forgot password</a>
    </div>
    </div>
   <LoginButton></LoginButton>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>