<div id="family">
  <div class="d-flex justify-content-between">
      <h3 class="form-heading">Family members</h3>
      <button class="btn btn-default gray-7 border">
        Skip this step
      </button>
    </div>
    <form>
      <div class="row g-3">
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" id="company" required />
            <label for="usr" id="rd">How many family members relocating?</label>
          </div>
        </div>
      </div>
      <h4 class="form-heading">Member 1</h4>
      <br />
      <br />
      <div class="row g-3">
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">First Name</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">Middle Name</label>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="address"
              required
            />
            <label for="usr">Last Name</label>
          </div>
        </div>
      </div>
      <div class="row g-3">
          <div class="col-md-4 p-2">
              <div class="ml-1">
                  <h6 class="gray-7">Gender</h6>
                  <br />
                  <div class="row ml-1">
                    <div class="col-md-6 d-flex">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gridRadios"
                          id="gridRadios1"
                          value="option1"
                          checked
                        />
                        <label
                          class="form-check-label gray-7"
                          for="gridRadios1"
                        >
                          Male
                        </label>
                      </div>
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="radio"
                          name="gridRadios"
                          id="gridRadios2"
                          value="option2"
                        />
                        <label
                          class="form-check-label gray-7"
                          for="gridRadios2"
                        >
                          Female
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          <div class="col-md-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="address"
                required
              />
              <label for="usr">Age</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="address"
                required
              />
              <label for="usr">Relationship</label>
            </div>
          </div>
        </div>
    </form>
  </div>