<div id="travel">
  <div class="d-flex justify-content-between">
      <h3 class="form-heading">travel</h3>
      <button class="btn btn-default gray-7 border">
        Skip this step
      </button>
    </div>
    <form>
              <h6 class="gray-7">Have you ever travelled internationally before?</h6>
              <br />
              <div class="row ">
                <div class="col-md-6 d-flex">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios1"
                      value="option1"
                      checked
                    />
                    <label
                      class="form-check-label gray-7"
                      for="gridRadios1"
                    >
                      yes
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios2"
                      value="option2"
                    />
                    <label
                      class="form-check-label gray-7"
                      for="gridRadios2"
                    >
                      No
                    </label>
                  </div>
                </div>
              </div>
              <br>
              <h6 class="gray-7">Have you been to the new location before?</h6>
              <br />
              <div class="row ">
                <div class="col-md-6 d-flex">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios1"
                      value="option1"
                      checked
                    />
                    <label
                      class="form-check-label gray-7"
                      for="gridRadios1"
                    >
                      yes
                    </label>
                  </div>
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gridRadios"
                      id="gridRadios2"
                      value="option2"
                    />
                    <label
                      class="form-check-label gray-7"
                      for="gridRadios2"
                    >
                      No
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="date"
                        class="form-control"
                        id="home-phone"
                        required
                      />
                      <label for="usr">Anticipated Final Move Date</label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 d-flex mt-3 mb-3">
                      <div class="form-check">
                          <input class="form-check-input" type="radio"
                            name="gridRadios"
                            id="gridRadios1"
                            value="option1"
                            checked
                          />
                          <label
                            class="form-check-label gray-7"
                            for="gridRadios1"
                          >
                            Driving
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="gridRadios"
                            id="gridRadios1"
                            value="option1"
                            checked
                          />
                          <label
                            class="form-check-label gray-7"
                            for="gridRadios1"
                          >
                            Flying
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="gridRadios"
                            id="gridRadios1"
                            value="option1"
                            checked
                          />
                          <label
                            class="form-check-label gray-7"
                            for="gridRadios1"
                          >
                            Both
                          </label>
                        </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-md-3">
                    <div class="form-group ">
                      <select class="form-control" id="airline" required>
                          <option value="" selected></option>
                          <option value="Spaces">Airline 1</option>
                          <option value="Tabs">Airline 2</option>
                      </select>
                      <label for="airline" class="form-label">Preferred Airline</label>
                  </div>
                  </div>
                  <div class="col-md-3">
                      <div class="form-group">
                        <input
                          type="tel"
                          class="form-control"
                          id="phone"
                          placeholder="Preferred Airport / Route"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row g-3">
                      <div class="col-md-6">
                        <div class="form-group">
                          <input
                            type="text"
                            class="form-control"
                            id="phone"
                            required
                          />
                          <label for="usr" id="rd">Airline</label>
                        </div>
                      </div>
                      </div>
                      <div class="row g-3">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input
                                type="tel"
                                class="form-control"
                                id="phone"
                                required
                              />
                              <label for="usr" id="rd">Additional Info</label>
                            </div>
                          </div>
                          </div>
    </form>
</div>