#travel{
	background-color:#F8F9FA;
	height: 520px;
	padding: 30px;
	overflow-y: scroll;
 .form-heading{
font-size: 18px;
font-style: normal;
font-weight: 700;
letter-spacing: 0em;
text-align: left;

 }       
}
// material input
.form-group {
    margin-bottom: 0px !important;
	>label {
		bottom: 34px;
		left: 10px;
		position: relative;
		background-color: white;
		padding: 0px 5px 0px 5px;
		font-size: 15px;
		transition: 0.2s;
		pointer-events: none;
        color: #7D9EB5;
        line-height: 16px;
        
    }

}
.form-control {
    border: 1px solid #CED4DA !important;
border: 1px solid #CED4DA;
box-sizing: border-box;
border-radius: 4px;
	&:focus~label {
		bottom: 55px;
        font-size: 12px;
       
	}

	&:valid~label {
		bottom: 55px;
	}
}
.form-check-input {
    margin-top: -3px !important; 
    margin-left: -16px !important;
}
//select matereial
.form-group.input-material {
  
    position: relative;
    margin-top: 50px;
    margin-bottom: 25px;
  
    label {
        bottom: 34px;
		left: 15px;
		position: relative;
		background-color: white;
		padding: 0px 5px 0px 5px;
		font-size: 15px;
		transition: 0.2s;
		pointer-events: none;
        color: #7D9EB5;
        line-height: 16px;
    }

    /* textarea label */
    textarea.form-control {
        &~ label {
            bottom: 55px;
            font-size: 12px;
        }
    }
  
    .form-control, .form-select {
        border: none;
        border-bottom: 2px solid green;
        border-radius: 0px;
        background-color: transparent;
        padding-left: 5px;
        box-shadow: none;

        /* active state */
        &:focus,
        &[value]:not([value=""]) {
            border-bottom-color: red;
            color: red;
        }
    
        &:focus ~ label,
        &[value]:not([value=""]) ~ label {
            top: unset;
            bottom: 100%;
            bottom: calc(100% - 16px);
            font-size: 14px;
            color: red;
            font-weight: 500;
        }
    
    }
    
}
select#airline{
    height: 56px !important;;
}